.footer {
  background-color: #220901;
  height:200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer p {
  color:#f6aa1c;
  font-weight: 300;
  font-style: italic;
  font-size: 12px;
} 